@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 2rem 3.5rem;
  margin: 0;
  /* background:#faf9f9 ; */
  background: #b7e4c7;
  /* background: #ffe0e0; */


  /* background: #dcdcdc; */
  /* background: #40916c; */
  width: 100vw;
  height: 100vh;

  @media only screen and (max-width: 786px) {
padding: 0;
background: none;
}
}

.main{
  display: flex;
  /* align-items: center; */
  background: #fff;
  /* justify-content: center; */
  /* border: 2px solid red; */
 width: 100%;
  height: 100%;
  border-bottom-left-radius: 1.5rem;
border-top-left-radius: 1.5rem;
border-bottom-right-radius: 1.5rem;
border-top-right-radius: 1.5rem;
  
}
